<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Pay type:</strong>
  <%= @order.pay_type %>
</p>

<p>
  <strong>Pay type:</strong>
<%= render(@order.line_items) %>
</p>

<% @order.line_items.each do |line_item| %>
    <ol class="list">
      <b><%= line_item.product.title %> - <%= line_item.product.price %></b>
     
      <br>
    </ol>
    <% end %>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
