<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p>

<% @order.line_items.each do |line_item| %>
<ol class="list">
<b><%= line_item.product.title %> - 
  <%= line_item.product.price %> - 
  <%= link_to 'Destroy', order_path, method: :delete %></b>
     
      <br>
    </ol>
    <% end %>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', persons_profile_path %>
