<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="<%= controller.controller_name %>">
  <%= render 'layouts/header' %>

    <div id="main">
      <div id="flash">
        <p class="notice"><%= notice %></p>
      </div>
      <%= yield %>
    </div>

  <%= render 'layouts/footer' %>
</body>
</html>