<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="<%= controller.controller_name %>">
  <%= render 'layouts/header' %>
  <div id="columns">
    <div id="side">
      <% if @cart %>
        <div id="cart">
          <%= render @cart %>
        </div>
      <% end %>
      <ul>
        <li><a href="http://www....">Home</a></li>
        <li><a href="http://www..../faq">Questions</a></li>
        <li><a href="http://www..../news">News</a></li>
        <li><a href="http://www..../contact">Contact</a></li>
      </ul>
    </div>
    <div id="main">
      <div id="flash">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <%= yield %>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>